.sub-header {
  /*   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  padding-top: 280px;
  color: white;
  font-size: 3rem;
  max-width: 890px;
  text-align: left;
  word-wrap: break-word;
}

.frontend-span {
  color: #ef4e8e;
}