.sub-header {
    color: white;
    font-size: 2.3rem;
    font-weight: 500;
    max-width: 400px;
    min-width: 300px;
    text-align: left;
    word-wrap: break-word;
}

.frontend-span {
    color: #ef4e8e;
}

/* Tablet from 415px */
@media screen and (min-width: 415px) {
    .sub-header {
        font-size: 2.8rem;
        max-width: 600px;
    }
}

/* Desktop from 1024px */
@media screen and (min-width: 1024px) {
    .sub-header {
        font-size: 3.3rem;
        max-width: 800px;
    }
}

/* Large Desktop from 2560px and over */
@media screen and (min-width: 2560px) {
    .sub-header {
        font-size: 5rem;
        max-width: 1500px;
    }
}
