/* Design for mobile displays from 360×640px up to 414×896px */
/* Design for tablet displays from 415×962px through 1023x800px */
/* Design for desktop displays from 1024×768px */
/* Design for large desktop displays from 2560x1440px and over */

.wrapper-width {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 8%;
}

/* ANGLES */
/* Angle 1 */
.angle {
    position: relative;
}

.angle-1 {
    background-color: #f6e6e0;
}

.angle-1,
.angle-1::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0px;
}

.angle-1::after {
    background-color: #5eef8b;
    clip-path: polygon(100% 0, 0% 100%, 0 0);
}

/* Angle 2 */
.angle-2 {
    background-color: #fc88a4;
}

.angle-2,
.angle-2::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 100%;
}
.angle-2::after {
    background-color: #f6e6e0;
    clip-path: polygon(60% 100%, 0 0, 100% 0);
}

/* Angle 3 */
.angle-3 {
    background-color: #fc88a4;
}

.angle-3,
.angle-3::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
}
.angle-3::after {
    background-color: #9aacff;
    clip-path: polygon(100% 43%, 78% 86%, 29% 0, 0 100%, 100% 100%);
}

/* Tablet from 415px */
@media screen and (min-width: 415px) {
    .angle-1,
    .angle-1::after {
        height: 120px;
    }
}

/* Desktop from 1024px */
@media screen and (min-width: 1024px) {
    .angle-1,
    .angle-1::after {
        height: 120px;
    }
}

/* Large Desktop from 2560px and over */
@media screen and (min-width: 2560px) {
    .wrapper-width {
        max-width: 2000px;
    }

    .angle-1,
    .angle-1::after {
        height: 150px;
    }
}
